---
---

$light: #f7f7f7;
$dark: #222121;
$lime: #00cc66;
$orangeRed: #fb4b4e;
$blue: #2541b2;
$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); //Noicee
$low-emph: rgba(white, 0.38);
$dark-grey : #121212; 
$low-dark-trans:rgba(0,0,0,0.4);
$mid-dark-trans:rgba(0,0,0, 0.65); 
$high-dark-trans:rgba(0,0,0, 0.85); 
// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

@import "{{ site.theme }}";

a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color:$high-emph !important;
}

table th{
    background-color: $high-dark-trans;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $high-dark-trans;
    border-color: $overlay-light;
    color: $med-emph;
}

h2 { 
    background: $high-dark-trans; 
    color: $high-emph;
}